<p id="notice"><%= notice %></p>

<p>
  <strong>Ign:</strong>
  <%= @mate.ign %>
</p>

<p>
  <strong>Role:</strong>
  <%= @mate.role %>
</p>

<p>
  <strong>Realname:</strong>
  <%= @mate.realname %>
</p>

<p>
  <strong>About:</strong>
  <%= @mate.about %>
</p>

<p>
  <strong>Smedia1:</strong>
  <%= @mate.smedia1 %>
</p>

<p>
  <strong>Smedia2:</strong>
  <%= @mate.smedia2 %>
</p>

<p>
  <strong>Smedia3:</strong>
  <%= @mate.smedia3 %>
</p>

<p>
  <strong>Smedia4:</strong>
  <%= @mate.smedia4 %>
</p>

<p>
  <strong>Smedia5:</strong>
  <%= @mate.smedia5 %>
</p>

<p>
  <strong>Extra1:</strong>
  <%= @mate.extra1 %>
</p>

<p>
  <strong>Extra2:</strong>
  <%= @mate.extra2 %>
</p>

<%= link_to 'Edit', edit_mate_path(@mate) %> |
<%= link_to 'Back', mates_path %>
